body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: beige;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
  height: auto;
}

.logo span {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(245, 56, 56);
}

.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input {
  height: 60%;
  width: 900px;
  padding: 4px 30px;
  font-size: 17px;
  border: none;
  border-radius: 15px;
  color: rgb(2, 2, 3);
  background-color: #e3e2e2;
}
.login {
  display: flex;
  align-items: center;
}

.login a {
  height: 60%;
  width: 80px;
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  justify-content: center;
}

/*     Style Container   */

.container {
  padding: 120px 40px;
  margin: 0 auto;
  background: #f2f2f2;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.container div img:hover {
  transform: scale(1.05);
  z-index: 2;
}

.gride-2 {
  grid-row: span 2;
}
.gride-3 {
  grid-row: span 3;
}

.content {
  position: relative;
  min-height: 100vh;
}
.content .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.content .popup-image span {
  position: absolute;
  padding: 70px;
  left: 350px;
  font-weight: bolder;
  color: #d40a0a;
  cursor: pointer;
  z-index: 100;
}
.content .popup-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 5px solid #ffffff;
  border-radius: 10px;
  width: 770px;
  height: 800px;
  object-fit: cover;
}

/*     Responsive Mobile    */
@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 60px;

    && .logo img {
      width: 70px;
    }
    && .logo span {
      position: absolute;
      top: -50px;
    }
    && .search-bar input {
      border-radius: 10px;
      font-size: 13px;
      height: 50%;
      width: 200px;
    }
    && .login a {
      font-size: 12px;
      height: 50%;
      width: 50px;
    }
  }
  .gride-3 {
    grid-row: span 2;
  }
  .content .popup-image span {
    padding: 200px 50px;
    left: 20px;
  }
  .content .popup-image img {
    width: 250px;
    height: 300px;
  }
  .container {
    padding: 80px 20px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

/*     Responsive Tablet    */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    width: 100%;
    height: 60px;

    && .logo img {
      width: 70px;
    }
    && .logo span {
      position: absolute;
      top: -50px;
    }
    && .search-bar input {
      height: 50%;
      width: 450px;
    }
    && .login a {
      font-size: 12px;
      height: 50%;
      width: 50px;
    }
  }
  .gride-3 {
    grid-row: span 2;
  }
  .gride-2 {
    grid-row: span 3;
  }
  .content .popup-image span {
    padding: 200px 50px;
    left: 70px;
  }
  .content .popup-image img {
    width: 500px;
    height: 600px;
  }
  .container {
    padding: 80px 30px;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}
